* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  text-align: center;
  font: normal 12px Verdana, sans-serif;
  color: var(--text-black);

  --blue: #0a509c;
  --lightblue: #c2defc;
  --mediumblue: #5ba0e9;
  --text-black: #696969;
  --gray: #a0a0a0;
  --green: green;
}

article {
  text-align: left;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  color: var(--blue);
}

h3 {
  font-size: 1rem;
  font-weight: 400;
}

p {
  margin: 1.5rem 0;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5;
}

p.methodology {
  margin-top: 0.3rem;
  color: rgb(133, 133, 133);
  font-size: 0.9rem;
}

a {
  color: rgb(133, 133, 133);
  text-decoration: none;
  border-bottom: 2px solid var(--mediumblue);
  transition: color 0.2s;
}

a:hover {
  color: var(--blue);
}

em {
  margin: 0 -0.2rem;
  padding: 0 0.2rem;
  font-style: normal;
  color: var(--text-black);
  background-color: var(--lightblue);
  border: none;
  border-radius: 3px;
}

/* for game */
.game {
  position: relative;
  width: 100%;
  max-width: 1100px;
  border: solid 4px var(--blue);
  border-radius: 7px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 50px;
  background-image: radial-gradient(#5e8270, #9dc1af);
  padding: 30px;
  padding-top: 5px;
  text-align: center;
  min-height: 430px;
}

.btnStart {
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  background: #222;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  background: var(--text-black);
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: none;
}

.btnStart:hover,
.btn:hover {
  background: var(--blue);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  opacity: 0.9;
}

.overlay-content {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.game h3 {
  padding: 10px;
  background: black;
  color: white;
}

.game .game-body {
  padding: 20px;
}

.game-options {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 50px;
}

.game .card {
  width: 100px;
  height: 160px;
  display: inline-block;
  text-align: center;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
}

.game .status {
  display: inline-block;
  background: gold;
  border: solid 5px white;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 0 auto;
  margin-top: 10px;
  display: none;
}

.players {
  width: 49%;
  margin-left: 0;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
}

.dealers {
  width: 49%;
  margin-right: 0;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
}

.player {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 1%;
  vertical-align: top;
  background: none;
  border: none;
}

.hand {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
  color: white;
  min-height: 50px;
  display: block;
}

.points {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  min-height: 30px;
  display: block;
}

.gameResult {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  margin: 10px;
  color: white;
  min-height: 50px;
}

.movePercent {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin: 10px;
  color: white;
  min-height: 40px;
}

img {
  float: left;
  height: 160px;
  width: 100px;
}

/* div {
    border: 1px solid cyan;
} */

.winPercentContainer {
  display: none;
  margin-top: 10px;
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 3px;
}

.winPercentBar {
  min-width: 25%;
  background-color: var(--blue);
  border: none;
  border-radius: 3px;
  overflow: hidden;
}

.winPercent {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

/* for hist */
#hist {
  width: 100%;
  max-width: 1100px;
  min-height: 400px;
  margin: 0 auto;
}

text {
  fill: var(--text-black);
  font-family: Verdana, sans-serif;
  font-size: 0.8rem;
}

.x-label text, .y-label text {
  font-size: 1rem;
  fill: var(--blue);
}

.x .domain, .y .domain, .y-grid-lines .domain {
  display: none;
}

.y-grid-lines line {
  stroke: var(--gray);
  stroke-width: 1;
}

.win-lose-mark line {
  stroke: var(--gray);
  stroke-width: 1;
}

path {
  stroke-width: 1;
  fill: none;
  stroke: var(--gray);
}

polygon {
  stroke-width: 1;
  fill: var(--text-black);
  stroke: var(--gray);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
